{% extends "base/base.html" %}


{% block title %}All Vehicle Owners{% endblock %}


{% block content %}
   



        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left">
                  <h3>Vehicle Owners</h3>
                </div>
  
               
              </div>
  
                <div class="col-md-12 col-sm-12  ">
                  <div class="x_panel">
                    <div class="x_title">
                      <a href="/addowner">
                        <button type="button" class="btn custom-button float-right">
                            <i class="fa fa-plus m-right-xs"></i> Add Vehicle Owner
                        </button>
                      </a>
                      <h2></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        
                      
                      </ul>
                      <div class="clearfix"></div>
                    </div>
  
                    <div class="x_content">
  
                      <p></p>
  
                      
                        
                      <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Serial Number</th>
                                    <th class="column-title">Name</th>
                                    <th class="column-title no-link last"><span class="nobr">Action</span></th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#490E0E; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehicle in vehicle_owners %}
                                <tr class="even pointer">
                                    <td class="">{{ forloop.counter }}</td>

                                    <td class="">{{ vehicle.VO_name }}</td>
                                    <td class="last">
                                      <a href="{% url 'edit_owner' vehicle.VO_id %}">Edit</a>
                                      |
                                      <a href="#" data-toggle="modal" data-target="#deleteModal{{ vehicle.VO_id }}">Delete</a>
                          
                                      <div class="modal fade" id="deleteModal{{ vehicle.VO_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h4 class="modal-title" id="myModalLabel">Delete</h4>
                                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <h4></h4>
                                                      <p>Are you sure you want to delete this entry?</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <a href="{% url 'delete_owner' vehicle.VO_id %}" class="btn btn-danger">Delete</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                              
                          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /page content -->






{% endblock %}