{% extends "base/base.html" %}


{% block title %}Procedures{% endblock %}


{% block content %}
   

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Driver Management Procedures</h3>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row">




        <div class="col-md-12 col-sm-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-align-left"></i> Procedures <small></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                
              
              </ul>
              <div class="clearfix"></div>
            </div>



            <div class="x_content">
            <div
              class="accordion"
              id="accordion1"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel">
                <a
                  class="panel-heading collapsed d-flex justify-content-between align-items-center"
                  role="tab"
                  data-toggle="collapse"
                  data-parent="#accordion1"
                  href="#collapseDriverRecruitmentProcedure"
                  aria-expanded="false"
                  aria-controls="collapseDriverRecruitmentProcedure"
                >
                  <h4 class="panel-title">Driver Recruitment Procedure</h4>
                  <span
                    class="glyphicon glyphicon-download-alt"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-original-title="Download Procedure"
                    id="pr1"
                    aria-hidden="true"
                    style="font-size: 1.5em"
                   
                  ></span>
                   </a>
               
                <div
                  id="collapseDriverRecruitmentProcedure"
                  class="panel-collapse collapse ml-3 mr-3"
                  role="tabpanel"
                  aria-labelledby="headingDriverRecruitmentProcedure"
                >
                  <div class="panel-body">
                    <ol>
                      <li>
                        All Drivers shall be recruited based on merit with
                        minimum eligibility standards, no preference shall be
                        given based on cast, creed, color, race, and
                        language.<br />
                        <br />
                      </li>

                      <li>
                        The recruitment system encompasses mandatory criteria
                        for all applicants, which must be followed in letter and
                        spirit for the recruitment of a driver in the
                        organization.<br />
                        <br />
                      </li>

                      <li>
                        The following criteria must be checked by the HR/HSEQ
                        Manager before initiating the recruitment process of the
                        driver:<br />
                        <ul>
                          <li>
                            <strong
                              >The age of the driver should be at least 24 years
                              and or less than 58 years at the time of
                              recruitment.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Driver must have a valid HTV driving
                              license.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Driver must have at least 03 (Three) years of
                              driving experience on the type of vehicle required
                              to be driven e.g., Articulated, Rigid, Bulk
                              Liquid, etc.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Educational/Training documents of a driver
                              (Academic & NH&MP etc.)</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Driver must have at least 02 (two)
                              references.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Driver's previous work history/character
                              verification must be checked via email or
                              NOC.</strong
                            >
                          </li>
                          <li>
                            <strong>Character verification by Police.</strong>
                          </li>
                          <li>
                            <strong
                              >Vaccination certificate against Covid-19 Virus by
                              NADRA.</strong
                            >
                          </li>
                        </ul>
                        <br />
                      </li>

                      <li>
                        HR/HSEQ Manager shall initiate a recruitment process by
                        following the below-mentioned guidelines:<br />
                        <ul>
                          <li>
                            <strong
                              >The HR/HSEQ Manager shall submit the job
                              application given by the driver for recruitment
                              and all required necessary documents mentioned
                              above.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >The driver shall be sent for Medical Assessment
                              to the designated doctor/hospital.</strong
                            >
                          </li>
                        </ul>
                        <br />
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="x_content">
            <div
              class="accordion"
              id="accordion1"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel">
                <a
                  class="panel-heading collapsed d-flex justify-content-between align-items-center"
                  role="tab"
                  data-toggle="collapse"
                  data-parent="#accordion1"
                  href="#collapseTrainingProcedure"
                  aria-expanded="false"
                  aria-controls="collapseTrainingProcedure"
                >
                  <h4 class="panel-title">Training Procedure</h4>
                  <span
                    class="glyphicon glyphicon-download-alt"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-original-title="Download Procedure"
                    id="pr2"
                    aria-hidden="true"
                    style="font-size: 1.5em"
                  ></span>
                </a>
                <div
                  id="collapseTrainingProcedure"
                  class="panel-collapse collapse ml-3 mr-3"
                  role="tabpanel"
                  aria-labelledby="headingTrainingProcedure"
                >
                  <div class="panel-body">
                    <ol>
                      <li>
                        Following steps to be followed for staff training:<br />
                        <br />
                      </li>

                      <li>
                        The HR/HSEQ Manager shall be responsible to prepare TNA
                        (Training Need Analysis) based on the requirements of
                        staff on a yearly basis or when the need arises.<br />
                        <br />
                      </li>

                      <li>
                        TNA shall be developed by keeping in view the current
                        and future requirements that include operational,
                        quality, environmental, health and safety, legal, and
                        customer-related requirements.<br />
                        <br />
                      </li>

                      <li>
                        The following shall be considered when preparing TNA:<br />
                        <ul>
                          <li>
                            <strong
                              >What the organization expects to happen and what
                              is being happened.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Current and desired job performance.</strong
                            >
                          </li>
                          <li>
                            <strong
                              >Existing and desired competencies and
                              skills.</strong
                            >
                          </li>
                        </ul>
                        <br />
                      </li>

                      <li>
                        Training Plan shall be prepared for all identified
                        needs.<br />
                        <br />
                      </li>

                      <li>
                        This Training Plan shall have the training needs and
                        propose a month for training as well as training
                        mandatory for specific departments.<br />
                        <br />
                      </li>

                      <li>
                        HSEQ Manager shall prepare Training Plan in consultation
                        with the department so that the execution of training
                        provision can be ensured.<br />
                        <br />
                      </li>

                      <li>
                        HSEQ Manager shall also ensure execution/provision of
                        all external training needs.<br />
                        <br />
                      </li>

                      <li>
                        HSEQ Manager shall monitor the training program
                        according to the Training Plan.<br />
                        <br />
                      </li>

                      <li>
                        Following training records shall be made for each
                        training:<br />
                        <ul>
                          <li><strong>Training Attendance Record.</strong></li>
                        </ul>
                        <br />
                      </li>

                      <li>
                        The picture should be taken as evidence of training, and
                        a training glimpse (ppt) shall develop.
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="x_content">
            <div
              class="accordion"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel">
                <a
                  class="panel-heading collapsed d-flex justify-content-between align-items-center"
                  role="tab"
                  data-toggle="collapse"
                  data-parent="#accordion1"
                  href="#collapseDLSProcedure"
                  aria-expanded="false"
                  aria-controls="collapseDLSProcedure"
                >
                  <h4 class="panel-title">DLS Procedure</h4>
                  <span
                    class="glyphicon glyphicon-download-alt"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-original-title="Download Procedure"
                    id="pr3"
                    aria-hidden="true"
                    style="font-size: 1.5em"
                  ></span>
                </a>
                <div
                  id="collapseDLSProcedure"
                  class="panel-collapse collapse ml-3 mr-3"
                  role="tabpanel"
                  aria-labelledby="headingDLSProcedure"
                >
                  <div class="panel-body">
                    <br />
                    <ol>
                      <li>
                        This procedure shall be applicable to all active tank
                        lorry drivers of the company who have completed DDC and
                        other related trainings.<br /><br />
                      </li>

                      <li>
                        Drivers shall be evaluated for
                        <strong>Driver League System (DLS)</strong> on quarterly
                        performance, and merit points will be awarded to them as
                        per the following criteria:<br /><br />
                        <strong>DLS Scoring Criteria/Weightage</strong
                        ><br /><br />
                        <table
                          class="table table-striped jambo_table bulk_action"
                        >
                          <thead>
                            <tr>
                              <th>Factors</th>
                              <th>Score</th>
                              <th>Winning Score</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Add your table content here -->
                            <tr>
                              <td>Rejection on Safe to Load</td>
                              <td>
                                No Rejection occurs on STL in quarter <br />
                                Any Rejection on STL in quarter
                              </td>
                              <td>
                                10 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Daily Vehicle Inspection</td>
                              <td>
                                1 filled sheet/ Month <br />
                                0/ Month
                              </td>
                              <td>
                                10 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Annual Trainings</td>
                              <td>
                                All Trainings attended in quarter <br />
                                Any training missed in quarter
                              </td>
                              <td>
                                5 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td># TBT Attended in Quarter</td>
                              <td>
                                20 or more <br />
                                15 to 19 <br />
                                1 to 14
                              </td>
                              <td>
                                15 <br />
                                10 <br />
                                5
                              </td>
                            </tr>
                            <tr>
                              <td># of NMPI Reported</td>
                              <td>
                                1/ Trip (for Long Haul Vehicles) <br />
                                1/ every 2 Trips (for Long Haul Vehicles) <br />
                                1/ every 3 Trips (for Long Haul Vehicles) <br />
                                0/ Month (for Both Local & Long Haul vehicles)
                                <br />
                                3/ Months (for Local vehicles) <br />
                                2/ Months (for Local vehicles) <br />
                                1/ Month (for Local vehicles)
                              </td>
                              <td>
                                15 <br />
                                10 <br />
                                5 <br />
                                0 <br />
                                15 <br />
                                10 <br />
                                5
                              </td>
                            </tr>
                            <tr>
                              <td># of Violations in Quarter</td>
                              <td>
                                0 <br />
                                Any violation occurred
                              </td>
                              <td>
                                10 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Customer Complains</td>
                              <td>
                                0 Complain in Quarter <br />
                                Any Complain in Quarter
                              </td>
                              <td>
                                5 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Abnormal Shortage</td>
                              <td>
                                0-99 liters Shortage/trip in Quarter (NO) <br />
                                More than 100 liters Shortage/trip in Quarter
                                (YES)
                              </td>
                              <td>
                                10 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Trip Log Submission</td>
                              <td>
                                1 filled log/ Trip <br />
                                Any missing or empty Trip Log submission
                              </td>
                              <td>
                                10 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Uniform & PPE's</td>
                              <td>
                                Clean Uniform & proper PPE's usage <br />
                                Availability of PPE's & Uniform but not clean
                                enough <br />
                                In case of missing Uniform or PPE's
                              </td>
                              <td>
                                10 <br />
                                5 <br />
                                0
                              </td>
                            </tr>
                            <tr>
                              <td>Stop Card Usage</td>
                              <td>
                                1 in quarter <br />
                                0 in quarter
                              </td>
                              <td>
                                5 <br />
                                0
                              </td>
                            </tr>
                            <!-- ... (continue the table) -->
                          </tbody>
                        </table>
                      </li>

                      <li>
                        All merit points will be recorded in KPI Sheet when
                        points are awarded as per scoring criteria. The sheet
                        will be kept updated by the Operation
                        Manager/Supervisor.<br /><br />
                      </li>

                      <li>
                        Awarded points shall be categorized into three
                        categories:<br />
                        <ul>
                          <li>
                            <strong>1st:</strong> Those scoring the highest % of
                            criteria score in a quarter.
                          </li>
                          <li>
                            <strong>2nd:</strong> Those scoring 2nd highest % of
                            criteria score in a quarter.
                          </li>
                          <li>
                            <strong>3rd:</strong> Those scoring 3rd highest % of
                            criteria score in a quarter.
                          </li>
                        </ul>
                        <br />
                      </li>

                      <li>
                        Following incentive shall be awarded to those who secure
                        in the above categories:<br />
                        <ul>
                          <li>
                            <strong>1st Position:</strong> shall be awarded 75%
                            of the monthly salary.
                          </li>
                          <li>
                            <strong>2nd Position:</strong> shall be awarded 50%
                            of the monthly salary.
                          </li>
                          <li>
                            <strong>3rd Position:</strong> shall be awarded 50%
                            of the monthly salary.
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
     </div>
            





      </div>
        </div>
    

      </div>


      </div>

      </div>
        </div>

      </div>
      <div class="clearfix"></div>


      </div>
    

      <!-- Add a script to handle the download logic -->
<script>

    document.addEventListener('DOMContentLoaded', function() {
  // Add a click event listener for the download icon
  document.getElementById('pr1').addEventListener('click', function(event) {
      // Prevent the default action of the anchor element
      event.preventDefault();
      
      // Call the downloadFile function with the corresponding file name
      downloadFile('drp.pdf');
  });

  document.getElementById('pr2').addEventListener('click', function(event) {
      // Prevent the default action of the anchor element
      event.preventDefault();
      
      // Call the downloadFile function with the corresponding file name
      downloadFile('tp.pdf');
  });

  document.getElementById('pr3').addEventListener('click', function(event) {
      // Prevent the default action of the anchor element
      event.preventDefault();
      
      // Call the downloadFile function with the corresponding file name
      downloadFile('dls.pdf');
  });
  
  // Add more similar event listeners for other policies

  // Function to handle the download logic
  function downloadFile(fileName) {
      // Construct the file path based on your Django project structure
      var filePath = '/static/pdf/' + fileName;

      // Create an anchor element
      var link = document.createElement('a');

      // Set the download attribute and href
      link.download = fileName;
      link.href = filePath;

      // Simulate a click on the anchor element to trigger the download
      link.click();
  }
  });
</script>





{% endblock %}





