{% extends "base/base.html" %}


{% block title %}Procedures{% endblock %}


{% block content %}
   






<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Operational Procedures</h3>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row">




        <div class="col-md-12 col-sm-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-align-left"></i> Procedures <small></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                
              
              </ul>
              <div class="clearfix"></div>
            </div>



 <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseIncentive"
                    aria-expanded="false"
                    aria-controls="collapseIncentive"
                  >
                    <h4 class="panel-title">Employee Incentive Procedure</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr15"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseIncentive"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingIncentive"
                  >
                    <div class="panel-body">
                      <ol>
                        <li>
                          <strong>PROCEDURE</strong>
                          <ul>
                            <li>
                              Annual incentive program started from January 1st,
                              2023
                            </li>
                            <li>
                              Selected employees receive incentive based on:
                              <ul>
                                <li>Staff Behavior</li>
                                <li>KPIs</li>
                              </ul>
                            </li>
                            <li>
                              Selected employee awarded one basic monthly salary
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseJMP"
                    aria-expanded="false"
                    aria-controls="collapseJMP"
                  >
                    <h4 class="panel-title">Journey Management Procedure</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr17"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseJMP"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingJMP"
                  >
                    <div class="panel-body">
                      <ol>
                        <li>
                          <strong>Authorized Rest Areas</strong>
                          <ul>
                            <li>
                              Designated safe parking locations with facilities
                            </li>
                            <li>
                              Must have 24-hour fuel/food, good lighting, and
                              sufficient space
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>RHM & JMP Development</strong>
                          <ul>
                            <li>
                              Live document updated frequently with three
                              phases: Planning, Executing, Closing
                            </li>
                            <li>
                              Includes risk assessments for routes and rest
                              areas
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>Driver Requirements</strong>
                          <ul>
                            <li>30 min rest after every 4.5 hours driving</li>
                            <li>Max 10 hours driving/day, 56 hours/week</li>
                            <li>360° walk-around before journey</li>
                            <li>No unauthorized passengers or route changes</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Journey Execution</strong>
                          <ul>
                            <li>Pre-trip briefing and JMP signing required</li>
                            <li>Strict tracking of driving/rest hours</li>
                            <li>VTS monitors every 3 hours</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Communication Protocol</strong>
                          <ul>
                            <li>Daily driver check-ins when parked</li>
                            <li>
                              No phone use while driving - second driver handles
                              communication
                            </li>
                            <li>
                              Emergency contacts must be notified immediately
                            </li>
                          </ul>
                        </li>
                        <li>
                          <strong>Journey Closure</strong>
                          <ul>
                            <li>Review of compliance with JMP</li>
                            <li>Counselling for violations</li>
                            <li>Update JMP based on driver feedback</li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseMRP"
                    aria-expanded="false"
                    aria-controls="collapseMRP"
                  >
                    <h4 class="panel-title">Management Review Procedure</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr18"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseMRP"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingMRP"
                  >
                    <div class="panel-body">
                      <ol>
                        <li>
                          <strong>Meeting Participants</strong>
                          <ul>
                            <li>CEO or DO</li>
                            <li>Director Operations</li>
                            <li>Operation Manager</li>
                            <li>HSEQ Manager</li>
                            <li>Maintenance Manager</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Meeting Process</strong>
                          <ul>
                            <li>Meeting starts with positive points</li>
                            <li>Discussion of internal/external issues</li>
                            <li>Review of management system performance</li>
                            <li>Customer satisfaction feedback</li>
                            <li>Audit findings and NCs review</li>
                            <li>Customer contract requirements review</li>
                            <li>Improvement opportunities</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Reporting & Follow-up</strong>
                          <ul>
                            <li>Minutes recorded and distributed</li>
                            <li>HSEQ Manager follows up on action items</li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseOBC"
                    aria-expanded="false"
                    aria-controls="collapseOBC"
                  >
                    <h4 class="panel-title">OBC/VTS Procedure</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr19"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseOBC"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingOBC"
                  >
                    <div class="panel-body">
                      <ol>
                        <li>
                          <strong>VTS Monitoring</strong>
                          <ul>
                            <li>Maintain vehicle tracking records daily</li>
                            <li>Verify vehicle locations with drivers</li>
                            <li>
                              Record driver violations (speed, harsh braking,
                              etc.)
                            </li>
                            <li>
                              Ensure proper use of Driver Identification Keys
                            </li>
                            <li>
                              Report FOB malfunctions to service providers
                            </li>
                            <li>Prevent parking at blackspot areas</li>
                            <li>Maintain trip logs for all operations</li>
                          </ul>
                        </li>
                        <li>
                          <strong>MDVR Monitoring</strong>
                          <ul>
                            <li>
                              Ensure all vehicles have working MDVR devices
                            </li>
                            <li>Perform spot checks as per plan</li>
                            <li>Monitor MDVR operations frequently</li>
                            <li>Record daily MDVR reports</li>
                            <li>Report malfunctions to service providers</li>
                            <li>Use video clips for driver training</li>
                            <li>Provide incident videos within 1 hour</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Geo-Fencing</strong>
                          <ul>
                            <li>
                              Identify blackspots through RHM, NMPI reports,
                              etc.
                            </li>
                            <li>Collect latitude/longitude of blackspots</li>
                            <li>Set 100m geo-fence with tracker provider</li>
                            <li>
                              Contact drivers stopping >5 minutes at blackspots
                            </li>
                            <li>Record details for investigation</li>
                            <li>Interrogate drivers post-journey</li>
                          </ul>
                        </li>
                        <li>
                          <strong>Violation Consequences</strong>
                          <ul>
                            <li>
                              Mobile phone while driving: 7-day suspension
                              (1st), 15-day block (3rd)
                            </li>
                            <li>
                              No seatbelt: 3-day suspension (1st), 7-day block
                              (3rd)
                            </li>
                            <li>
                              Smoking while driving: Immediate blacklisting
                            </li>
                            <li>
                              MDVR tampering: ₹5000 fine (1st), ₹10000 (2nd),
                              blacklist (3rd)
                            </li>
                            <li>
                              Product theft: Permanent blacklisting + ₹1M
                              penalty
                            </li>
                            <li>
                              Unauthorized driver: Blacklisting at all locations
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseOMP"
                    aria-expanded="false"
                    aria-controls="collapseOMP"
                  >
                    <h4 class="panel-title">Operation Management Procedure</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr20"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseOMP"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingOMP"
                  >
                    <div class="panel-body">
                      <ol>
                        <li>
                          <strong>Daily Operation Process</strong>
                          <ol type="a">
                            <li>
                              <strong>Vehicle Availability</strong>
                              <ul>
                                <li>
                                  Confirm vehicle suitability with
                                  drivers/maintenance
                                </li>
                                <li>Notify client via email</li>
                              </ul>
                            </li>
                            <li>
                              <strong>Pre-Trip Inspection</strong>
                              <ul>
                                <li>Monitor driver inspects vehicle</li>
                                <li>Complete pre-trip checklist</li>
                              </ul>
                            </li>
                            <li>
                              <strong>Loading Process</strong>
                              <ul>
                                <li>Supervisor collects dip-chart</li>
                                <li>Supervises loading completion</li>
                              </ul>
                            </li>
                            <li>
                              <strong>Journey Preparation</strong>
                              <ul>
                                <li>Driver collects expenses</li>
                                <li>Journey desk provides JMP briefing</li>
                                <li>Pre-trip briefing against each invoice</li>
                              </ul>
                            </li>
                            <li>
                              <strong>Journey Execution</strong>
                              <ul>
                                <li>VTS staff monitors via OBC/VTS/MDVR</li>
                                <li>Maintain journey communication logs</li>
                              </ul>
                            </li>
                            <li>
                              <strong>Destination Arrival</strong>
                              <ul>
                                <li>Driver notifies Operation Manager</li>
                                <li>
                                  Supervisor stays in contact during unloading
                                </li>
                              </ul>
                            </li>
                            <li>
                              <strong>Return Process</strong>
                              <ul>
                                <li>
                                  Driver completes product unloading checklist
                                </li>
                                <li>
                                  Presents at journey closing desk upon return
                                </li>
                              </ul>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       <div class="x_content">
              <div
                class="accordion"
                id="accordion1"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel">
                  <a
                    class="panel-heading collapsed d-flex justify-content-between align-items-center"
                    role="tab"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapseOrgObjectives"
                    aria-expanded="false"
                    aria-controls="collapseOrgObjectives"
                  >
                    <h4 class="panel-title">Organizational Objectives</h4>
                    <span
                      class="glyphicon glyphicon-download-alt"
                      data-toggle="tooltip"
                      data-placement="left"
                      data-original-title="Download Procedure"
                      id="pr13"
                      aria-hidden="true"
                      style="font-size: 1.5em"
                    ></span>
                  </a>
                  <div
                    id="collapseOrgObjectives"
                    class="panel-collapse collapse ml-3 mr-3"
                    role="tabpanel"
                    aria-labelledby="headingOrgObjectives"
                  >
                    <div class="panel-body">
                      <br />
                      <ol>
                        <li>
                          Reduce the number of incidents (Major/Minor/Near Miss
                          & Potential Incident):
                          <ul>
                            <li>
                              Through reporting NMPI’s & sharing lesson learning
                              – <strong>1 NMPI/Trip</strong> – HSSE Manager /
                              Operation Manager – <em>Done</em>
                            </li>
                            <li>
                              Through TBM – <strong>Daily</strong> – HSSE
                              Manager – <em>Done</em>
                            </li>
                            <li>
                              Through Training – <strong>As per plan</strong> –
                              HSSE Manager – <em>Done</em>
                            </li>
                            <li>
                              Through spot checks – <strong>6/month</strong> –
                              HSSE Manager / Operation Manager – <em>Done</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          Reduce the number of Violations:
                          <ul>
                            <li>
                              Training & counselling drivers and following
                              consequence management
                            </li>
                            <li>
                              Close & vigilant monitoring of drivers’ movement
                              every day – VTS – Operation / HSSE Manager –
                              <em>Done</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          Monitoring of Vehicles on system with MDVR and
                          carrying out spot checks:
                          <ul>
                            <li>
                              MDVR spot checks – <strong>50/month</strong>
                            </li>
                            <li>
                              On-road spot checks – <strong>6/month</strong>
                            </li>
                            <li>
                              Responsible: Operation Manager / HSSE Manager /
                              VTS Rep – <em>Done</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          All office employees must have basic safety knowledge,
                          firefighting, and first aid:
                          <ul>
                            <li>
                              In HGGC Base Office Port Qasim Karachi –
                              <strong>Monthly</strong> – HSSE Manager –
                              <em>Done</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          Continue to eliminate paperwork:
                          <ul>
                            <li>
                              HGGC own software development –
                              <strong>31 Mar 2025</strong> – Director Operation
                              – <em>In progress</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          Add drivers work forms in the app to eliminate
                          paperwork:
                          <ul>
                            <li>
                              Include trip logs, JMP, STL, NMPI, Stop Cards –
                              <strong>30 June 2025</strong> – HSSE Manager –
                              <em>Done</em>
                            </li>
                          </ul>
                        </li>
                        <li>
                          Carry out community services:
                          <ul>
                            <li>
                              Plants given to community –
                              <strong>30 July 2025</strong> – Director –
                              <em>Done</em>
                            </li>
                          </ul>
                        </li>
                      </ol>

                      <br />
                      <strong>Records:</strong>
                      <table
                        class="table table-striped jambo_table bulk_action"
                      >
                        <thead>
                          <tr>
                            <th>Sr. #</th>
                            <th>Document Name</th>
                            <th>Document #</th>
                            <th>Retention Period</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>NMPI Reporting Form</td>
                            <td>HGGC/HSEQ/FM001</td>
                            <td>1 Year</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Driver Training Plan</td>
                            <td>HGGC/DM/PLN01</td>
                            <td>1 Year</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>HSEQ (KPIs) Plan</td>
                            <td>HGGC/HSEQ/PLN01</td>
                            <td>1 Year</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>MOM Form</td>
                            <td>HGGC/HSEQ/FM002</td>
                            <td>1 Year</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Accident Incident Initial Report</td>
                            <td>HGGC/HSEQ/FM003</td>
                            <td>1 Year</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>MDVR Spot Check Checklist</td>
                            <td>HGGC/VM/CHK06</td>
                            <td>1 Year</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="x_content">
    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" data-toggle="collapse" data-parent="#accordion1" href="#collapseRecruitmentProcedure" aria-expanded="false" aria-controls="collapseRecruitmentProcedure">
                <h4 class="panel-title">Staff Recruitment Procedure</h4>
                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Recruitment Procedure" id="pr25" aria-hidden="true" style="font-size: 1.5em;"></span>
            </a>
            <div id="collapseRecruitmentProcedure" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingRecruitmentProcedure">
                <div class="panel-body">
                    <strong>Procedures – Summary</strong>
                    <ul>
                        <li>Recruitment based on merit; no discrimination by caste, creed, color, race, or language.</li>
                        <li>Mandatory criteria for applicants:
                            <ul>
                                <li>Age between 18 and 65 years</li>
                                <li>Physical requirements</li>
                                <li>Gender requirements</li>
                                <li>Experience requirements</li>
                                <li>Minimum education/training/certification</li>
                                <li>Two references</li>
                            </ul>
                        </li>
                        <li>Recruitment process:
                            <ol>
                                <li>Line Manager defines required criteria.</li>
                                <li>OPS/HSEQ Manager forwards hiring request to Operations Director.</li>
                                <li>Approval from Director/HSEQ/Operations Manager.</li>
                                <li>Collection of applications and required documents.</li>
                                <li>Written test and technical interview by HSE Manager.</li>
                                <li>Final interview by Director; issue employment offer.</li>
                                <li>On acceptance, sign offer letter and confirm Date of Joining.</li>
                            </ol>
                        </li>
                        <li>Employee orientation on joining:
                            <ul>
                                <li>Submit educational documents and experience certificates.</li>
                                <li>Issue necessary items (laptop, mobile, SIM, etc.).</li>
                                <li>Conduct orientation program and introduce employee to organization.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
        </div>
    

      </div>


      </div>

      </div>
        </div>

      </div>
      <div class="clearfix"></div>


      </div>
    

      <!-- Add a script to handle the download logic -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Add a click event listener for the download icon
   document.getElementById("pr15").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("eip.pdf");
    });

 document.getElementById("pr17").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("jmp.pdf");
    });
    document.getElementById("pr18").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("mrp.pdf");
    });
    document.getElementById("pr19").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("obc.docx");
    });
    document.getElementById("pr20").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("omp.pdf");
    });
  document.getElementById("pr13").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("oo.docx");
    });
 document.getElementById("pr25").addEventListener("click", function (event) {
      // Prevent the default action of the anchor element
      event.preventDefault();

      // Call the downloadFile function with the corresponding file name
      downloadFile("srp.pdf");
    });
  
  // Add more similar event listeners for other policies

  // Function to handle the download logic
  function downloadFile(fileName) {
      // Construct the file path based on your Django project structure
      var filePath = '/static/pdf/' + fileName;

      // Create an anchor element
      var link = document.createElement('a');

      // Set the download attribute and href
      link.download = fileName;
      link.href = filePath;

      // Simulate a click on the anchor element to trigger the download
      link.click();
  }
});
</script>





{% endblock %}





