{% extends "base/base.html" %}


{% block title %}Policies{% endblock %}


{% block content %}
   


        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Total Policies</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
   



              <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-align-left"></i> Policies <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                    
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                    <div class="x_content">
                        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                         <div class="panel">
                            
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingCellPhonePolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseCellPhonePolicy" aria-expanded="false" aria-controls="collapseCellPhonePolicy">
                                <h4 class="panel-title">Cell Phone Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p1" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseCellPhonePolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingCellPhonePolicy">
                                <div class="panel-body">
                                    <br>
                                    <p><strong>Policy #1</strong></p>
                
                                    <p>Misuse of a cell phone is a safety hazard, which is why HAJI GUL GROUP OF COMPANIES has adopted a clear policy on the usage of cell phones.</p>
                
                                    <p><strong>Our mobile phone policy is:</strong></p>
                
                                    <ol>
                                        <li>The use of cell phones/smartwatches/pagers/hands-free or similar electronic devices while calling, answering, sending text messages, or any other use while driving is strictly prohibited.</li>
                
                                        <li>The use of cell phones/smartwatches/pagers/hands-free or similar electronic devices while handling petroleum products or in the area where it is being handled is strictly prohibited.</li>
                
                                        <li>Usage of cell phones or similar electronic devices in the cabin by a co-driver or helper is not a violation, barring inside the terminal or any other space where cell phone usage is prohibited.</li>
                
                                        <li>All employees must intervene when they observe any violation of this policy and report the matter to the company.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                  
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingSeatBeltPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeatBeltPolicy" aria-expanded="false" aria-controls="collapseSeatBeltPolicy">
                                <h4 class="panel-title">Seat Belt Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p2" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseSeatBeltPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingSeatBeltPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p><strong>Seat belts hold the occupants in the consequence of a sudden brake or accident, which can save lives, which is why all the employees of HAJI GUL GROUP OF COMPANIES must follow the following policy.</strong></p>
                
                                    <p>All HGGC and connector vehicles used for the company's work will be fitted with seat belts for all passengers.</p>
                
                                    <p><strong>The seat belt should have three points:</strong></p>
                
                                    <ol>
                                        <li>Seat belts must be used on all drivers and passengers traveling for company work.</li>
                
                                        <li>All seats should have head restraints.</li>
                
                                        <li>The condition of the seat belt should be checked during vehicle inspection.</li>
                                    </ol>
                
                                    <p>HGGC staff and contractors are also encouraged to follow this policy whether they are driving private vehicles or not on the job.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingSmokingPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseSmokingPolicy" aria-expanded="false" aria-controls="collapseSmokingPolicy">
                                <h4 class="panel-title">Smoking Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p3" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseSmokingPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingSmokingPolicy">
                                <div class="panel-body">
                                    <br>
                                  
                           According to medical evidence, smoking is injurious to health, therefore <strong>HAJI GUL GROUP OF COMPANIES</strong> strictly follows Smoking Policy and does not allow any person to smoke in the company premises.
                          
                           <ol>
                            <br>
                                        <li>Smoking is prohibited in all <strong>HGGC</strong> offices, Base, Depot, customer site, and while present in the vehicle.</li>
                
                                        <li>Smoking, including e-cigarettes, is prohibited in all workplaces of the <strong>company</strong>.</li>
                
                                        <li>All staff and visitors are advised to keep the <strong>company's</strong> workplaces non-smoking.</li>
                
                                        <li>If any visitors or staff still want to smoke, then smoking can only be done in the designated smoking area.</li>
                
                                        <li>Smoking inside the <strong>company's</strong> car/cabin violates the <strong>company</strong> policy.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingHRPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseHRPolicy" aria-expanded="false" aria-controls="collapseHRPolicy">
                                <h4 class="panel-title">HR Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p4" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseHRPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingHRPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p>We can define our Human Resources Policy as picking the right staff for the fitting position to merge into <strong>HGGC Management</strong>. Aiming for a long-term collaboration with our employees, we offer the necessary management and technical training in different departments, evaluate their performances by our performance management system, and pick the higher potential and career planning together for their future.</p>
                
                                    <p>We are aware that the basic criteria to maintain and keep the manpower in our company is to follow a transparent and equitable management policy of development for our employees and provide their commitment to the company at the forefront.</p>
                
                                    <p><strong>Our Aim is to find:</strong></p>
                
                                    <p>Right Person for the right job!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingStopWorkPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseStopWorkPolicy" aria-expanded="false" aria-controls="collapseStopWorkPolicy">
                                <h4 class="panel-title">Stop Work Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p5" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseStopWorkPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingStopWorkPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p><strong>Haji Gul Group of Companies</strong> wants all employees to immediately stop working on any situation or condition that could potentially harm or endanger human life or affect the environment.</p>
                
                                    <p>It is our stop work policy that:</p>
                
                                    <ol>
                                        <li>All acts/actions deemed unsafe are prohibited.</li>
                
                                        <li>All employees have the right to stop any work or work where there is a risk of HSEQ.</li>
                
                                        <li>Employees should stop work immediately and notify their immediate supervisor of the effective situation.</li>
                
                                        <li>Any unsafe work or operation can be resumed only after the Senior Supervisor has approved the resumption of the work that has been stopped.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingPPEPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapsePPEPolicy" aria-expanded="false" aria-controls="collapsePPEPolicy">
                                <h4 class="panel-title">PPE Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p6" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapsePPEPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingPPEPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p>Personal protective equipment plays a valuable role in reducing the impact of an incident on those involved.</p>
                
                                    <p><strong>HAJI GUL GROUP OF COMPANIES</strong> is committed to providing P.P.E’s to all employees when they are on work.</p>
                
                                    <p>All employees should use the following PPEs according to job requirements:</p>
                
                                    <ol>
                                        <li>Safety Helmet</li>
                
                                        <li>Safety Shoes</li>
                
                                        <li>Coverall</li>
                
                                        <li>Safety Goggles</li>
                
                                        <li>Safety Gloves</li>
                
                                        <li>Ear Protector</li>
                
                                        <li>Respiratory Mask</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingFatiguePolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseFatiguePolicy" aria-expanded="false" aria-controls="collapseFatiguePolicy">
                                <h4 class="panel-title">Fatigue Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p7" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseFatiguePolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingFatiguePolicy">
                                <div class="panel-body">
                                    <br>
                                    <p>Fatigue is a significant risk for drivers and can be caused by constant work, improper rest, or lack of sleep. For this reason, <strong>HGGC</strong> limits the maximum driving and working hours and is allowed specific driving and working.</p>
                
                                    <p>The driving/working limits are as follows, and if the customer's demand is better, it will prevail:</p>
                
                                    <ol>
                                        <li>A maximum of 4 hours 30 minutes (continuous) of driving after a minimum of 30 minutes of rest is mandatory. However, it is advisable to rest 15 minutes after driving every 2 hours.</li>
                
                                        <li>A maximum of 10 hours can be driven in a day.</li>
                
                                        <li>A maximum of 56 hours can be driven in a week.</li>
                
                                        <li>A maximum of 12 hours can be worked in a day.</li>
                
                                        <li>A maximum of 72 hours can be worked in a week.</li>
                
                                        <li>A minimum of 9 consecutive hours of rest is mandatory in 1 day.</li>
                
                                        <li>A minimum of 24 consecutive hours of rest in a week.</li>
                                    </ol>
                
                                    <p>It is the responsibility of drivers to get proper rest. In case of fatigue, it is important to inform your supervisor for further guidance. Fatigue is a significant risk for drivers and can be caused by constant work, improper rest, or lack of sleep.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingMedicalPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseMedicalPolicy" aria-expanded="false" aria-controls="collapseMedicalPolicy">
                                <h4 class="panel-title">Medical Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p8" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseMedicalPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingMedicalPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p><strong>HAJI GUL GROUP OF COMPANIES</strong> is committed to protecting the health of all its employees. Medical examination from an approved lab is an integral part of the selection process.</p>
                
                                    <p>The following tests must be done before the driver is selected and re-tested every two years, and the company is authorized to test any driver for drugs and alcohol at any time:</p>
                
                                    <ol>
                                        <li>Eye Examination</li>
                
                                        <li>Hearing Inspection</li>
                
                                        <li>Physical Examination</li>
                
                                        <li>Blood Test</li>
                
                                        <li>Opiate Test</li>
                
                                        <li>Cannabinoid Test</li>
                
                                        <li>Alcohol Level in the Blood</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingRewardSanctionPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseRewardSanctionPolicy" aria-expanded="false" aria-controls="collapseRewardSanctionPolicy">
                                <h4 class="panel-title">Reward and Sanction Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p9" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseRewardSanctionPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingRewardSanctionPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p>To maintain the quality of the Company, <strong>HGGC</strong> has adopted a policy of rewards and sanctions for its drivers which must be followed.</p>
                
                                    <p>The objectives of this policy are as follows:</p>
                
                                    <ol>
                                        <li>Link rewards and restrictions to performance measuring.</li>
                
                                        <li>Lay a foundation for ideal performance.</li>
                
                                        <li>Encourage the driver to perform better.</li>
                
                                        <li>Encourage competition in service delivery.</li>
                
                                        <li>Promote innovation and creativity in service delivery.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading collapsed d-flex justify-content-between align-items-center" role="tab" id="headingHSEPolicy" data-toggle="collapse" data-parent="#accordion1" href="#collapseHSEPolicy" aria-expanded="false" aria-controls="collapseHSEPolicy">
                                <h4 class="panel-title">HSE Policy</h4>
                                <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="left" data-original-title="Download Policy" id="p10" aria-hidden="true" style="font-size: 1.5em;"></span>
                            </a>
                            <div id="collapseHSEPolicy" class="panel-collapse collapse ml-3 mr-3" role="tabpanel" aria-labelledby="headingHSEPolicy">
                                <div class="panel-body">
                                    <br>
                                    <p>All employees shall comply with the policy and assist with its implementation and shall ensure that their work, so far as is reasonably practicable, is undertaken without risk to themselves or others. <strong>HGGC</strong> is committed to enhancing customer satisfaction through continual improvement, operational excellence, and in-time delivery of quality products while remaining watchful over the safety, health, and environmental concerns of its employees, contractors, and the general public associated with it.</p>
                
                                    <p><strong>HGGC</strong> will ensure that:</p>
                
                                    <ol>
                                        <li>Providing and maintaining a safe and healthy working environment.</li>
                
                                        <li>Identifying workplace hazards, assessing risks, and carrying out work safely.</li>
                
                                        <li>Training employees to ensure they are competent and capable.</li>
                
                                        <li>Providing adequate information and instruction for employees.</li>
                
                                        <li>Communicating and consulting with employees and others.</li>
                
                                        <li>Providing competent management and supervision.</li>
                
                                        <li>Providing suitable welfare facilities and personal protective equipment.</li>
                
                                        <li>Supplying competent contractors and suppliers.</li>
                
                                        <li>Supplying all services and products with due regard for health and safety.</li>
                
                                        <li>Continual process and procedural improvements are carried out to enhance performance and products.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                                                                






            </div>
              </div>

            </div>
            <div class="clearfix"></div>


            </div>
          

            <!-- Add a script to handle the download logic -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Add a click event listener for the download icon
        document.getElementById('p1').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p1.docx');
        });

        document.getElementById('p2').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p2.docx');
        });

        document.getElementById('p3').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p3.docx');
        });

        document.getElementById('p4').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p4.docx');
        });

        document.getElementById('p5').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p5.docx');
        });
        document.getElementById('p6').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p6.docx');
        });
        document.getElementById('p7').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p7.docx');
        });
        document.getElementById('p8').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p8.docx');
        });
        document.getElementById('p9').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p9.docx');
        });
        document.getElementById('p10').addEventListener('click', function(event) {
            // Prevent the default action of the anchor element
            event.preventDefault();
            
            // Call the downloadFile function with the corresponding file name
            downloadFile('p10.docx');
        });

        // Add more similar event listeners for other policies

        // Function to handle the download logic
        function downloadFile(fileName) {
            // Construct the file path based on your Django project structure
            var filePath = '/static/pdf/' + fileName;

            // Create an anchor element
            var link = document.createElement('a');

            // Set the download attribute and href
            link.download = fileName;
            link.href = filePath;

            // Simulate a click on the anchor element to trigger the download
            link.click();
        }
    });
</script>





{% endblock %}