{% extends "base/base.html" %}

{% block title %}All Drivers {% endblock %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Drivers<small></small></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <a href="/adddriver">
                            <button type="button" class="btn custom-button float-right">
                                <i class="fa fa-plus m-right-xs"></i> Add Driver
                            </button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Avatar</th>
                                                <th>Driver Number</th>
                                                <th>Oil Marketing Company</th>
                                                <th>Driver Name</th>
                                                <th>Father Name</th>
                                                <th>CNIC</th>
                                                <th>CNIC Validity Date</th>
                                                <th>Cell Phone Number</th>
                                                <th>Date of Birth</th>
                                                <th>Driver Age</th>
                                                <th>License Type</th>
                                                <th>DDC Issue Date</th>
                                                <th>Address</th>
                                                <th>License Number</th>
                                                <th>HTV License Authority</th>
                                                <th>HTV License Issue Date</th>
                                                <th>HTV License Expiry Date</th>
                                                <th>DDC Expiry Date</th>
                                                <th>Education</th>
                                                <th>Medical Date</th>
                                                <th>Lab Name</th>
                                                <th>Medical Expiry Date</th>
                                                <th>Blood Group</th>
                                                <th>Medical Health</th>
                                                <th>Joining Date</th>
                                                <th>Experience (years)</th>
                                                <th>On Leave</th>
                                                <th>Previous Company</th>
                                                <th>Tank Lorry</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for driver in drivers %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'driverview' driver_id=driver.id %}">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    {% if driver.image %}
                                                                        <img src="{{ driver.image.url }}" alt="avatar" class="avatar">
                                                                    {% else %}
                                                                        <img src="/static/images/user.png" alt="avatar" class="avatar">
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                            <a href="{% url 'editdriver' driver_id=driver.id %}"><i class="fa fa-edit"></i> Edit</a>
                                                        </a>
                                                    </td>
                                                    <td><a href="{% url 'driverview' driver_id=driver.id %}">{{ driver.driver_number }}</a></td>
                                                    <td>{{ driver.company.name }}</td>
                                                    <td>{{ driver.name }}</td>
                                                    <td>{{ driver.father_name }}</td>
                                                    <td>{{ driver.cnic }}</td>
                                                    <td>
                                                        {{ driver.cnic_validity }}
                                                        <span class="badge {% if driver.cnic_validity_status == 'Close to Expiry' %}badge-warning{% elif driver.cnic_validity_status == 'Expired' %}badge-danger{% elif driver.cnic_validity_status == 'Valid' %}badge-success{% endif %}" style="font-size: 0.9em; padding: 0.5em;">
                                                            {{ driver.cnic_validity_status }}
                                                        </span>
                                                    </td>
                                                    <td>{{ driver.cell_phone_num }}</td>
                                                    <td>{{ driver.dob }}</td>
                                                    <td>{{ driver.age }}</td>
                                                    <td>{{ driver.dl_status }}</td>
                                                    <td>{{ driver.ddc_issue_date }}</td>
                                                    <td>{{ driver.address }}</td>
                                                    <td>{{ driver.license_no }}</td>
                                                    <td>{{ driver.htv_license_authority }}</td>
                                                    <td>{{ driver.htv_license_issue_date }}</td>
                                                    <td>
                                                        {{ driver.htv_license_expiry_date }}
                                                        <span class="badge {% if driver.htv_license_expiry_date_status == 'Close to Expiry' %}badge-warning{% elif driver.htv_license_expiry_date_status == 'Expired' %}badge-danger{% elif driver.htv_license_expiry_date_status == 'Valid' %}badge-success{% endif %}" style="font-size: 0.9em; padding: 0.5em;">
                                                            {{ driver.htv_license_expiry_date_status }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        {{ driver.ddc_expiry_date }}
                                                        <span class="badge {% if driver.ddc_date_status == 'Close to Expiry' %}badge-warning{% elif driver.ddc_date_status == 'Expired' %}badge-danger{% elif driver.ddc_date_status == 'Valid' %}badge-success{% endif %}" style="font-size: 0.9em; padding: 0.5em;">
                                                            {{ driver.ddc_date_status }}
                                                        </span>
                                                    </td>
                                                    <td>{{ driver.education }}</td>
                                                    <td>{{ driver.report_date }}</td>
                                                    <td>{{ driver.lab_name }}</td>
                                                    <td>
                                                        {{ driver.medical_expiry_date }}
                                                        <span class="badge {% if driver.expiry_date_status == 'Close to Expiry' %}badge-warning{% elif driver.expiry_date_status == 'Expired' %}badge-danger{% elif driver.expiry_date_status == 'Valid' %}badge-success{% endif %}" style="font-size: 0.9em; padding: 0.5em;">
                                                            {{ driver.expiry_date_status }}
                                                        </span>
                                                    </td>
                                                    <td>{{ driver.blood_group }}</td>
                                                    <td>{{ driver.medical_health }}</td>
                                                    <td>{{ driver.joining_date }}</td>
                                                    <td>{{ driver.experience }}</td>
                                                    <td>From {{ driver.leave_date }} To {{ driver.leave_resume_date }}</td>
                                                    <td>{{ driver.previous_company }}</td>
                                                    <td>{{ driver.tank_lorry }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
