{% extends 'base/base.html' %}

{% block title %}
  View
{% endblock %}

{% block content %}

<body class="watermark">
  <style>
    .hggc-header{
      background-color: #42070b;
      padding: 24px 24px;
      border-radius: 8px 8px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .hggc-header > img{
      height: 64px;
    }
    .hggc-header > img:last-of-type{
      border-radius: 6px;
    }
    .hggc-body{
      padding: 24px;
      background: #fff;
    }
    .hggc-body .user-box{
      display: flex;
      align-items: center;
    }
    .hggc-body .user-box > img{
      width: 112px;
      height: 112px;
      border-radius: 50%;
      border: 3px solid #42080b;
    }
    .hggc-body .user-content{
      padding-left: 20px;
      line-height: 1;
    }
    .hggc-body .user-content > h5{
      font-size: 24px;
      color: #141414;
    }
    .hggc-body .user-content > p{
      font-size: 16px;
      color: #5e5e5e;
      margin-bottom: 0;
    }
    .hggc-body .user-content > p:first-of-type{
      margin-bottom: 6px;
    }
    .user-items{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
    }
    .user-items .items  > p,
    .data-items  > p{
      margin-bottom: 2px;
      text-transform: uppercase;
      color: #7a1818;
      font-weight: 500;
    }
    .user-items .items:not(:last-child) {
      border-right: 1px solid #d8d8d8;
      padding-right: 32px;
    }
    .user-items .items  > h5{
      margin-bottom: 0;
    }
    .data-items > .badge{
      font-size: 1.25rem;
    }

    .hggc-panel{
      border-radius: 8px;
      border: 2px solid #7a1818;
      padding: 0;
    }
    .hggc-panel .x_title{
      padding: 16px;
      margin: 0;
      border-radius: 8px 8px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .hggc-panel .x_title > h2{
      font-weight: 500;
      font-size: 20px;
    }
    .hggc-panel .x_content{
      padding: 16px;
    }
    .hggc-panel .panel_toolbox {
      min-width: initial;
    }
    .seperation{
      width: 100%;
      border-top: 1px dashed #c9c9c9;
      margin: 16px 0;
    }
    .work-history{
      padding: 16px;
      background: #f7f7f7;
      margin: -24px;
    }
    .work-history h6 > a{
      font-size: 22px;
    }
    
  
  </style>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- page content -->
  <div class="right_col" role="main">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="hggc-box">
            <div class="hggc-header">
                <img src="/static/images/hggc-logo.png" alt="" />
                {% if driver.Oil_Marketing_Company.cname == "Attock Petroleum Limited" %}
                    <img src="/static/images/attock-logo.png" alt="" />
                {% elif driver.Oil_Marketing_Company.cname == 'GO' %}
                    <img src="/static/images/go.png" alt="" />
                {% else %}
                    <img src="/static/images/total.png" alt="" />
                {% endif %}

            </div>
            <div class="hggc-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="user-box">
                    <img class="img-responsive avatar-view" 
                      src="{% if driver.D_Image %}{{ driver.D_Image.url }}{% else %}/static/images/user.png{% endif %}" 
                      alt="Avatar" title="Change the avatar"/>
                      <div class="user-content">
                        <h5>{{ driver.D_Name }}</h5>
                        <p>{{ driver.Address }}</p>
                        <p>{{ driver.Cell_Phone_Num }}</p>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 text-right" style="display: flex; flex-direction: column; justify-content: space-between;">
                  <div class="btns noprint">
                      
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa fa-print m-right-xs"></i> Print as PDF
                        </button>
                      </a>
                      <a href="{% url 'editdriver' driver_id=driver.D_ID %}">
                        <button type="button" class="btn custom-button">
                            <i class="fa fa-edit m-right-xs"></i> Edit Profile
                        </button>
                      </a>
                  </div>
                  <div class="user-header-info">
                    <div class="user-items">
                      <div class="items">
                        <p>Driver Age</p>
                        <h5>{{ driver.age }} Years</h5>
                      </div>
                      <div class="items">
                        <p>Total Experience</p>
                        <h5>{{ driver.Experience }} Years</h5>
                      </div>
                      <div class="items">
                        <p>Employee ID</p>
                        <h5>{{ driver.D_Number }}</h5>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Personal Information-->
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="hggc-panel x_panel">
                  <!--Title-->
                  <div class="x_title">
                    <h2 class="m-0">Personal Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!--Content-->
                  <div class="x_content mt-0">
                    <!--Item Row-->
                    <div class="row mb-3">
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Father Name</p>
                          <h5>{{ driver.Father_Name }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Date Of Birth</p>
                          <h5>{{ driver.DOB }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Education</p>
                          <h5>{{ driver.Education }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Blood Group</p>
                          <h5>{{ driver.Blood_Group }}</h5>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                       <!--Item-->
                       <div class="col-md-3">
                        <div class="data-items">
                          <p>Previous Company</p>
                          <h5>{{ driver.Previous_Company }}</h5>
                        </div>
                      </div>
                        <!--Item-->
                    <div class="col-md-3">
                      <div class="data-items">
                        <p>Tank Lorry</p>
                        <h5>{{ driver.Tank_Lorry }}</h5>
                      </div>
                    </div>
                    </div>
                    <!--Seperation-->
                    <div class="row seperation"></div>

                    <!--Item Row-->
                    <div class="row mb-3">
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>CNIC</p>
                          <h5>{{ driver.CNIC }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Issue Date</p>
                          <h5>None</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Expiry Date</p>
                          <h5>{{ driver.CNIC_Validity }}</h5>
                        </div>
                      </div>
                    </div>

                    <!--Item Row-->
                    <div class="row mb-3">
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>DDC</p>
                          <h5>{{ driver.Motorway_Trained }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Issue Date</p>
                          <h5>{{ driver.DDC_Issue_Date }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Expiry Date</p>
                         
                           <h5> {{ driver.DDC_Expiry_Date }}</h5>
                       
                        </div>
                      </div>
                    </div>

                    <!--Item Row-->
                    <div class="row mb-3">
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>HTV License</p>
                          <h5>{{ driver.License_No }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Issue Date</p>
                          <h5>{{ driver.HTV_License_Issue_Date }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Expiry Date</p>
                          <h5>{{ driver.HTV_License_Expiry_Date }}</h5>
                        </div>
                      </div>
                       <!--Item-->
                       <div class="col-md-3">
                        <div class="data-items">
                          <p>License Authority</p>
                          <h5>{{ driver.HTV_License_Authority }}</h5>
                        </div>
                      </div>
                    </div>


                    <!--Item Row-->
                    <div class="row">
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Medical</p>
                          <h5>{{ driver.Lab_Name }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Issue Date</p>
                          <h5>{{ driver.Report_Date }}</h5>
                        </div>
                      </div>
                      <!--Item-->
                      <div class="col-md-3">
                        <div class="data-items">
                          <p>Expiry Date</p>
                          <h5>{{ driver.Expiry_Date }}</h5>
                        </div>
                      </div>
                        <!--Item-->
                        <div class="col-md-3">
                          <div class="data-items">
                            <p>Medical Health</p>
                            <h5>{{ driver.Medical_Health }}</h5>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

             <!--Monthly Training & Drill Attendance-->
             <div class="row mt-3">
              <div class="col-md-12">
                <div class="hggc-panel x_panel">
                  <!--Title-->
                  <div class="x_title">
                    <h2 class="m-0">Monthly Training &amp; Drill Attendance</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!--Content-->
                  <div class="x_content mt-0">
                    <!--Item Row-->
                    <div class="row">
                      <!--Item-->
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Offered Month</th>
                                <th>Trainings</th>
                                <th>Drills</th>
                                <th>Attendance Date</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for drill in driver_attendance %}
                                <tr>
                                  <th scope="row">1</th>
                                  <td>January</td>
                                  <td>Company Policies</td>
                                  <td>First Aid</td>

                                  <td>{{ drill.train1_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">2</th>
                                  <td>Feburary</td>
                                  <td>Product Knowledge</td>
                                  <td>Fire Drill</td>

                                  <td>{{ drill.train2_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">3</th>
                                  <td>March</td>
                                  <td>Vehicle Inspection</td>
                                  <td>Law and Order Situation</td>

                                  <td>{{ drill.train3_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">4</th>
                                  <td>April</td>
                                  <td>Journey Management</td>
                                  <td>Breakdown Maintainance</td>

                                  <td>{{ drill.train4_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">5</th>
                                  <td>May</td>
                                  <td>Emergency Response</td>
                                  <td>Fire Evacuation</td>

                                  <td>{{ drill.train5_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">6</th>
                                  <td>June</td>
                                  <td>Internal DDC</td>
                                  <td>Road Accident</td>

                                  <td>{{ drill.train6_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">7</th>
                                  <td>July</td>
                                  <td>Vehicle Roll Over Prevention</td>
                                  <td>Heat Stroke</td>

                                  <td>{{ drill.train7_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">8</th>
                                  <td>August</td>
                                  <td>ABS Brake System</td>
                                  <td>Spill</td>

                                  <td>{{ drill.train8_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">9</th>
                                  <td>September</td>
                                  <td>Loading and Unloading</td>
                                  <td>Heart Attack</td>

                                  <td>{{ drill.train9_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">10</th>
                                  <td>October</td>
                                  <td>First Aid Induction</td>
                                  <td>Tyre Burst</td>

                                  <td>{{ drill.train10_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">11</th>
                                  <td>November</td>
                                  <td>Fatigue Management</td>
                                  <td>Bomb Threat</td>

                                  <td>{{ drill.train11_completed_date }}</td>
                                </tr>

                                <tr>
                                  <th scope="row">12</th>
                                  <td>December</td>
                                  <td>Fire Extinguisher Use</td>
                                  <td>Mega Drill</td>

                                  <td>{{ drill.train12_completed_date }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

             <!--Work History-->
             <div class="row mt-3 work-history">
              <!--Item-->
                <div class="col-md-4">
                    <h6 class="mb-2">Total Violations <a href="{% url 'add_driver_violation' D_ID=driver.D_ID %}" class="pull-right"><i class="fa fa-plus-circle"></i></a></h6>
                    <div class="progress mb-0">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40" aria-valuenow="49" style="width: 0%;"></div> 
                    </div>
                </div>
                <!--Item-->
                <div class="col-md-4">
                  <h6 class="mb-2">Total Tool Box Meetings Attended <a href="{% url 'add_driver_training' D_ID=driver.D_ID %}" class="pull-right"><i class="fa fa-plus-circle"></i></a></h6>
                  <div class="progress mb-0">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="10" aria-valuenow="49" style="width: 0%;"></div> 
                  </div>
                </div>
                <!--Item-->
                <div class="col-md-4">
                  <h6 class="mb-2">Total Drill &amp; Training Attended <a href="{% url 'add_driver_training' D_ID=driver.D_ID %}" class="pull-right"><i class="fa fa-plus-circle"></i></a></h6>
                  <div class="progress mb-0">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 0%;"></div> 
                  </div>
                </div>
              </div>
            
             <!--Tool Box Meeting Attendance-->
             <div class="row mt-5">
              <div class="col-md-12">
                <div class="hggc-panel x_panel">
                  <!--Title-->
                  <div class="x_title">
                    <h2 class="m-0">Tool Box Meeting Attendance</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!--Content-->
                  <div class="x_content mt-0">
                    <!--Item Row-->
                    <div class="row">
                      <!--Item-->
                      <div class="col-md-12">
                        <canvas id="barChart" height="350"></canvas>
                              </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            

          </div>
          </div>
          
        <script>
          const tbm_data = JSON.parse('{{ tbm_data|escapejs }}')
          
          // Custom color palette for bars
          const colorPalette = ['rgb(122,24,24)']
          
          // Dummy data
          const data = {
            labels: ['Syndicate Sessions', 'Heat Stress Management', 'Pre-load Inspection', 'Safe Decantation at Retail Site', 'Roll Over Prevention', 'Fatigue Management', 'Defensive Driving', 'Unauthorized Passenger', 'Loading & Unloading', '360 Walkabout Process', 'Vehicle Fitness', 'Emergency Response', 'PPE Compliance', 'Duty & Driving Hours', 'On-Road Distraction', 'Security Awareness', 'Manual Handling', 'Working at Height', 'Adverse Weather Condition', 'Static Charge', 'Driver Behavior on Road', 'Foggy Weather', 'Sugarcane Trolleys Hazards and Controls', 'NMPI Reporting', 'Black Spots'],
            datasets: [
              {
                label: 'No. of Times Meeting Attended',
                data: tbm_data,
                backgroundColor: colorPalette,
                borderColor: colorPalette,
                borderWidth: 1
              }
            ]
          }
          
          const options = {
            scales: {
              x: {
                beginAtZero: true,
                maxRotation: 45,
                minRotation: 0
              },
              y: {
                beginAtZero: true,
                stepSize: 1,
                max: 6
              }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Maintain aspect ratio when resizing
            plugins: {
              legend: {
                display: false // Hide the legend
              },
              tooltips: {
                enabled: true, // Show tooltips on hover
                mode: 'index',
                intersect: false
              }
            }
          }
          
          // Create a bar chart
          const ctx = document.getElementById('barChart').getContext('2d')
          const myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
          })
        </script>

      </div>
  </div>
</body>
  <!-- /page content -->
{% endblock %}
